{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/autocomplete.css' %}">
    <link rel="stylesheet" href="{% static 'css/graph.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <title>Clockify Replica</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="" id="trackerNavBar" onclick="ontrackerNavBarClick(event)">Tracker</a>
        <a href="" id="dashBoardNavBar" onclick="ondashBoardNavBarClick(event)">Dashboard</a>
    </div>

    {% block content %}
    {% endblock  %}

    <script src="{% static 'js/tracker.js' %}"></script>
    <script src="{% static 'js/timer.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/autocomplete.js' %}"></script>
    <script src="{% static 'js/graph.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    {% comment %} <script src="{% static 'js/d3.min.js' %}"></script> {% endcomment %}
</body>
</html>