{% extends 'tracker/base.html' %}

{% block content %}
<div id="trackerContainer">
    <div class="time-tracker-recorder-container">
        <form id="createTaskForm" method="post" data-url="{% url 'time_entry_create_url' %}">
            {% csrf_token %}
            {% for field in task_form %}
            <div class="task-name-container" id="taskName">
                {{ field }}
            </div>
            {% endfor %}

            <div id="autocomplete_result" style="display: none;"></div>

            <div class="project-name-container">
                <a href="" id="projectDropdownToggle" onclick="showDropdown(event)"></a>
                <div class="dropdown-content" id="dropdownContent">
                </div>
            </div>

            <div class="timer-container">
                <span id="taskTimer">00:00:00</span>
            </div>

            <button type="button" class="" id="startButton">Start</button>
        </form>
    </div>

    {% load tz %}

    <div class="time-tracker-card-container" id="timeTrackerList">
        {% for time_entry in time_entries %}
        <div class="time-tracker-card" data-card-id={{time_entry.id}}>
            <div class="time-tracker-card-header">
                <div class="task-date" style="display: inline-block; width: 20%;">
                    <span>{{ time_entry.date }}</span>
                </div>
            </div>

            <div class="time-tracker-card-body">
                <form class="update-task-name-form" method="post">
                    {% csrf_token %}

                    <div class="task-name-col">
                        <input type="text" value="{{ time_entry.task }}" data-id={{ time_entry.task_id }} data-project-id={{ time_entry.task.project.id }} data-time-entry-id={{ time_entry.id }} onchange="taskNameChanged(this)" />
                    </div>
                </form>

                <div class="project-name-col">
                    <a class="project-name-link" href="" data-task-id={{ time_entry.task.id }} data-project-id={{ time_entry.task.project.id }}>{{ time_entry.task.project }}</a>
                    <div class="dropdown-content"></div>
                </div>

                <div class="task-start-end-time-col">
                    <div class="task-start-time-col">
                        <input type="text" class="task-start-time-input" value="{{ time_entry.start_time|date:'h:iA' }}"
                            data-task-start-id={{ time_entry.id }} />
                    </div>
                    <span>-</span>
                    <div class="task-end-time-col">
                        <input type="text" class="task-end-time-input" value="{{ time_entry.end_time|date:'h:iA' }}"
                            data-task-end-id={{ time_entry.id }} />
                    </div>
                </div>

                <div class="task-time-col">
                    <input type="text" value="{{ time_entry.time_spent }}" readonly data-task-id={{ time_entry.id }} />
                </div>

                <div class="task-remove-row">
                    <button class="btn" onclick="onTaskDelete(this)" data-id={{ time_entry.id }}>
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div id="svgContainer" style="text-align: center; display: none;">
    <h3>Hours worked on each of last seven days</h3>
    <svg width="960" height="500"></svg>
</div>

{% endblock  %}